<%= form_with(model: book) do |form| %>
  
  <%= render 'layouts/error', error_object: book %>

  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control'  %>
  </div>

  <div class="form-group">
    <%= form.label :sort %>
    <%= form.number_field :sort, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :category_id %>
    <%= form.select(:category_id, options_for_select(category_options(), book.category_id), {}, class: 'form-control') %>
  </div>

  <div class="form-group">
    <%= form.label :author_ids, 'Authors' %>
    <%= form.collection_select :author_ids, authors(), :id, :name, {}, class: 'form-control', multiple: true %>
  </div>

  <div class="form-group">
    <%= form.label :publish_date %>
    <%= form.text_field :publish_date, value: date_from_sql_to_view(book.publish_date, '%m/%d/%Y'), class:'form-control', placeholder: 'Publish date...', 'data-datetimepicker': 'true', autocomplete: 'off' %>
  </div>

  <div class="form-group">
    <%= form.label :image %>
    <% if book.image.attached? %>
    <%= image_tag book.image, style: 'max-width: 200px; display: block' %>
    <%= form.check_box :delete_image %> delete it?
    <% end %>
    <%= form.file_field :image, class: 'form-control' %>
  </div>

  <div class="actions">
    <%= form.submit 'Apply', class: 'btn btn-primary' %>
  </div>
<% end %>
