<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @book.sort %>
</p>


<p>
  <strong>Category:</strong>
  <%= category_title(@book.category) %>
</p>

<p>
  <% if @book.image.attached? %>
  <%= image_tag @book.image, style: 'max-width: 120px; display: block' %>
  <% end %>
</p>

<p>
  <strong>Author:</strong>
  <%= author_names(@book.authors) %>
</p>

<p>
  <strong>Publish date:</strong>
  <%= @book.publish_date %>
</p>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
